main {
  padding-bottom: 0;
}

.moviePage {
  margin: 0 60px;
  padding-top: 60px;
  background-color: rgba(10, 10, 10, .85);
}

.moviePageInfo {
  display: flex;
  margin: 0 60px;
  justify-content: space-between;
  iframe {
    min-width: 100%;
    height: 100%;
    display: block;
  }
}

.titleAndPoster {
  width: 35%;
}

.movieDeets {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.trailerContainer {
  height: 70%;
  margin: 30px 0;
}

.pkReviews {
  margin: 0 60px;
  padding: 60px 0;
  display: flex;
}

.reviewChart {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 70%;
  max-width: 600px;
}

.reviewToolTip {
  width: 30%;
}

.movieReviewChart {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  h4 {
    width: 100px;
  }
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  li {
    width: 95px;
    text-align: center;
    border-radius: 20px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 4px;
    cursor: default;
    border-color: transparent;
    transition: background-color .3s, border-color .3s, color .3s, text-shadow .3s;
    img {
      margin: 0 auto;
    }
    &:hover {
      background-color: rgba(255, 255, 255, .3);
      border-width: 1px;
      border-style: solid;
      border-color: rgba(255, 255, 255, .3);
      color: #99F;
      text-shadow: 0 0 3px #000;
    }
  }
}