main {
  padding-bottom: 0; }

.moviePage {
  margin: 0 60px;
  padding-top: 60px;
  background-color: rgba(10, 10, 10, 0.85); }

.moviePageInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .moviePageInfo iframe {
    min-width: 100%;
    height: 100%;
    display: block; }

.movieInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.moviePagePoster {
  -webkit-box-shadow: 0px 10px 35px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 10px 35px 5px rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.008);
  border-radius: 5px; }

.titleAndPoster {
  width: 35%; }

.movieDeets {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .movieDeets p:not(last-child) {
    margin-top: 6px; }
  .movieDeets p:last-child {
    margin-top: 20px; }

.deetHeader {
  font-weight: 800;
  font-size: 1.1rem;
  margin-right: .5rem; }

.movieOverview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.3rem; }

.overviewText {
  font-style: italic; }

.trailerContainer {
  height: 70%;
  margin-bottom: 30px; }

.pkReviews {
  margin: 0 60px;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.movieChat {
  margin: 0 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.goBackTop {
  margin: 20px 0 20px 30px;
  font-size: 1.2rem;
  font-style: italic; }

.goBackBottom {
  padding: 0 30px 40px 0;
  font-size: 1.2rem;
  font-style: italic;
  text-align: right; }

.comingSoon {
  text-align: center;
  padding: 40px 0; }

.chat {
  margin-left: 8rem;
  font-size: 1.6rem; }

.reviewChart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 700px; }

.reviewToolTip {
  width: 100%;
  max-width: 440px;
  min-height: 400px; }

.reviewToolTipContent {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 20px; }

.movieReviewChart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .movieReviewChart h4 {
    width: 100px; }
  .movieReviewChart ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-right: 50px; }
  .movieReviewChart li {
    width: 95px;
    text-align: center;
    border-radius: 20px;
    height: 105px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 4px;
    cursor: default;
    border-color: transparent;
    -webkit-transition: background-color .3s, border-color .3s, color .3s, text-shadow .3s;
    -o-transition: background-color .3s, border-color .3s, color .3s, text-shadow .3s;
    transition: background-color .3s, border-color .3s, color .3s, text-shadow .3s; }
    .movieReviewChart li img {
      margin: 0 auto; }
    .movieReviewChart li:hover {
      background-color: rgba(255, 255, 255, 0.3);
      border-width: 1px;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.3);
      color: #99F;
      text-shadow: 0 0 3px #000; }
