@import 'partials/normalize';

body {
  background-color: #111;
  color: #FFF;
}

h1 {
  text-align: center;
}

a.cardBox {
  text-decoration: inherit;
  color: inherit;
  font-style: inherit;
}

.cardBox {
  display: flex;
  width: calc(25% - 80px);
  min-width: 150px;
  max-width: 300px;
  margin: 30px;
  padding: 10px 10px 15px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background: rgba(66, 66, 66, .66);
  border-radius: 2px;
  &:hover {
    box-shadow: 0 0 0 1px #fff;
    background: rgba(99, 99, 99, .99);
    opacity: 1 !important;
  }
}

.pkRatings {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.imageContainer {
  position: relative;
  img {
    object-fit: cover;
    height:100%;
  }
  h5 {
    text-align: center !important;
  }
}

.card a {
  text-decoration: none;
  color: #99F
}

.card figcaption {
  opacity: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  transition: opacity .5s;
}

.card {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &:hover figcaption {
    opacity: 1;
  }
  h5,
  h6 {
    width: 100%;
  }
}

main {
  position: relative;
}

h3,
h4,
h5,
h6 {
  margin: 5px 0 10px;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1280px;
  overflow: hidden;
  margin: 0 auto;
  z-index: 1;
  background: transparent;
  position: relative;
}

.backDrop {
  width: 100%;
  height: 100%;
  background-size: cover;
  margin: 0;
  position: fixed;
  z-index: -1;
  opacity: 0;
}

.loadBGFade-enter {
  opacity: 0
}

.loadBGFade-enter-active {
  opacity: .8;
  transition: opacity 1s
}

.loadBGFade-enter-done {
  opacity: .8;
}

.loadBGFade-exit {
  opacity: .8;
}

.loadBGFade-exit-active {
  opacity: 0;
  transition: opacity 1s
}

.movieGrid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  min-height: 55px;
  & h5 {
    max-width:4em;
    text-align:right;
  }
}


/*  Loading Modal Transitions */

.loadFade-enter {
  opacity: 0;
}

.loadFade-enter-active {
  opacity: 1;
  transition: opacity .5s
}

.loadFade-exit {
  opacity: 1;
}

.loadFade-exit-active {
  opacity: 0;
  transition: opacity .5s
}

.cardLoadFade-enter {
  opacity: 0;
  left: 75px;
}

.cardLoadFade-enter-active,
.cardLoadFade-enter-done {
  opacity: 1;
  left: 0;
  transition: opacity 1s, left 1.5s
}