* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0; }

p, h1, h2, h3, h4, h5, h6, ul, li, img, section, main, figure, article, aside, footer, header {
  padding: 0;
  margin: 0; }

body {
  background-color: #111;
  color: #FFF; }

h1 {
  text-align: center; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(25% - 80px);
  min-width: 150px;
  max-width: 300px;
  margin: 30px;
  padding: 10px 10px 15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  background: rgba(66, 66, 66, 0.66);
  border-radius: 2px;
  height: 100%;
  opacity: 0; }
  .card:hover figcaption {
    opacity: 1; }
  .card h5,
  .card h6 {
    width: 100%; }
  .card h6:last-child {
    line-height: 0;
    margin: 2px 0 10px !important; }
  .card:hover {
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
    background: rgba(99, 99, 99, 0.99);
    opacity: 1 !important; }

.pkRatings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.imageContainer {
  position: relative; }
  .imageContainer img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%; }
  .imageContainer h5 {
    text-align: center !important; }

.card a {
  text-decoration: none;
  color: #99F;
  font-style: inherit; }

.card figcaption {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  -webkit-transition: opacity .5s, color .5s;
  -o-transition: opacity .5s, color .5s;
  transition: opacity .5s, color .5s;
  cursor: pointer; }
  .card figcaption:hover {
    color: #99F; }

.clickReviewBox {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  padding: 20px; }

.pkRatings {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.ratingNumber {
  width: auto !important; }

main {
  position: relative;
  padding-bottom: 50px;
  min-height: calc(100vh - 60px); }

h3,
h4,
h5,
h6 {
  margin: 5px 0 10px; }

img {
  max-width: 100%;
  display: block; }

.wrapper {
  max-width: 1280px;
  overflow: hidden;
  margin: 0 auto;
  z-index: 1;
  background: transparent;
  position: relative; }

.clickable {
  cursor: pointer;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s; }
  .clickable:hover {
    color: #99F; }

.backDrop {
  width: 100%;
  height: 100%;
  background-size: cover;
  margin: 0;
  position: fixed;
  z-index: -1;
  opacity: 0; }

.loadBGFade-enter {
  opacity: 0; }

.loadBGFade-enter-active {
  opacity: .8;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.loadBGFade-enter-done {
  opacity: .8; }

.loadBGFade-exit {
  opacity: .8; }

.loadBGFade-exit-active {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.movieGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1; }

.cardTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  min-height: 55px; }
  .cardTitle h5 {
    max-width: 4em;
    text-align: right; }

/*  Loading Modal Transitions */
.loadFade-enter {
  opacity: 0; }

.loadFade-enter-active {
  opacity: 1;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s; }

.loadFade-exit {
  opacity: 1; }

.loadFade-exit-active {
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s; }

.cardLoadFade-enter {
  opacity: 0;
  left: 75px; }

.cardLoadFade-enter-active,
.cardLoadFade-enter-done {
  opacity: 1;
  left: 0;
  -webkit-transition: opacity 1s, left 1.5s;
  -o-transition: opacity 1s, left 1.5s;
  transition: opacity 1s, left 1.5s; }
