@import 'partials/normalize';

// Base Styles

body {
  background-color: #111;
  color: #FFF;
}

h1 {
  text-align: center;
}

h3,
h4,
h5,
h6 {
  margin: 5px 0 10px;
}

img {
  max-width: 100%;
  display: block;
}

main {
  position: relative;
  padding-bottom: 50px;
  min-height: calc(100vh - 60px);
}

// Common styles

.wrapper {
  max-width: 1280px;
  overflow: hidden;
  margin: 0 auto;
  z-index: 1;
  background: transparent;
  position: relative;
}

.clickable {
  cursor: pointer;
  transition: color .5s;
  &:hover {
    color: #99F;
  }
}

.backDrop {
  width: 100%;
  height: 100%;
  background-size: cover;
  margin: 0;
  position: fixed;
  z-index: -1;
  opacity: 0;
}

// CSS Transition states

  // Background

  .loadBGFade-enter {
    opacity: 0
  }

  .loadBGFade-enter-active {
    opacity: .8;
    transition: opacity 1s
  }

  .loadBGFade-enter-done {
    opacity: .8;
  }

  .loadBGFade-exit {
    opacity: .8;
  }

  .loadBGFade-exit-active {
    opacity: 0;
    transition: opacity 1s
  }

  // Loader

  .loadFade-enter {
    opacity: 0;
  }

  .loadFade-enter-active {
    opacity: 1;
    transition: opacity .5s
  }

  .loadFade-exit {
    opacity: 1;
  }

  .loadFade-exit-active {
    opacity: 0;
    transition: opacity .5s
  }

  // Movie Card

  .cardLoadFade-enter {
    opacity: 0;
    left: 75px;
  }

  .cardLoadFade-enter-active,
  .cardLoadFade-enter-done {
    opacity: 1;
    left: 0;
    transition: opacity 1s, left 1.5s
  }

.movieGrid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  position: relative;
  z-index: 1;
}